.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    position: relative;
}