:root {
    --color-light: #ffffff;
    --color-dark: #333333;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --font-height: 1.5;
    --font-size: 16px;
    --font-base: "Momo Trust Sans", sans-serif;

    --color-section-sport: #CE061E;
    --color-section-men: #529ACF;
    --color-section-fashion: #203A34;
}